<h1>Doctors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Specialization</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>

  <% @doctors.each do |doctor| %>
    <tr>
      <td><%= doctor.full_name %></td>
      <td><%= doctor.specialization %></td>
      <td><%= doctor.active? ? "Active" : "Inactive" %></td>
      <td>
        <%= link_to "View", doctor %> |
        <%= link_to "Edit", edit_doctor_path(doctor) %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "Add Doctor", new_doctor_path %>
